.icon-left {
    position: absolute;
    top: 10px;
    left: 10px;
}

.icon-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.icon {
    width: 180px;
}

/* convert these into icon tinting per season, or perhaps background colour?
.holiday-display.summer {
    color: red;
}

.holiday-display.winter {
    color: blue;
}*/

.holiday-display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.holiday-display .message {
    margin-top: 40px !important;
}

.holiday-display .holiday {
    position: absolute;
    margin: auto 0;
}

.summer {
    background-color: orange;
    color: rgb(124, 84, 11);
}

.winter {
    background-color: aliceblue;
    color: rgb(46, 129, 202);
}
